<% cnt = 1 %>
<% @post.comments.each do |comment| %>
    <p>
      <strong><%= cnt %></strong>
      <%= link_to 'delete', post_comment_path(@post, comment), method: :delete %>
      <% cnt += 1 %>
    </p>
    <p>
      <strong>Commenter: </strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment: </strong>
      <%= comment.body %>
    </p>
    <br/>
<% end %>
