<div class="panel panel-default">
  <div class="panel-body">
    <% if @posts.any? %>
      <ui class="list-group">
        <table class="table table-striped">
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td class="title"> <%= link_to post.title, post_path(post), style: "color:black" %> </td>
              <td><%= post.comments.count %></td>
            </tr>
          </tbody>
        <% end %>
        </table>
      </ui>
      <div class="panel-footer">
        <%= will_paginate @posts, class: "pagination" %>
      </div>
    <% else %>
      <div class="panel-body">
        <p>nothing</p>
      </div>
    <% end %>
  </div>
</div>
