<div class="row">
  <div class="col-lg-4">
    <%= render 'user_info' %>
  </div>

  <div class="col-lg-8">
    <%= render 'menu', active_name: "followers" %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= render 'user_list' %>
        </div>
      </div>
    </div>
  </div>
</div>
