<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">User List</div>
    <div class="panel-body">
      <% @users.each do |user| %>
      <div class="col-lg-3">
        <%= letter_avatar_tag Pinyin.t(user.username), 30, class: "av img-circle" %>
        <%= link_to user.username, user_path(user) %>
      </div>
      <% end %>

    </div>
  </div>
</div>
