<div class="row">
  <div class="col-lg-8">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#posts" data-toggle="tab">posts</a></li>
        <li><a href="#comments" data-toggle="tab">comments</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="posts">
          <%= render 'post_list' %>
        </div>
        <div class="tab-pane" id="comments">
          comments
        </div>
      </div>
  </div>
  <div class="col-lg-4">
    <%= render 'user_info' %>
  </div>
</div>

