<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>HomePage</h1>
      <p>
        This is my ruby on rails application test.<br/>
        It's a blog.
      </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">tabs</div>
    <div class="panel-body">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">tab1</a></li>
          <li><a href="#tab2" data-toggle="tab">tab2</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="active tab-pane">
            <div class="panel panel-default">
              <div class="panel-body">
                <p>hello world</p>
              </div>
            </div>
          </div>
          <div id="tab2" class="tab-pane">
            <div class="panel panel-default">
              <div class="panel-body">
                <p>hello world</p>
                <p>this is tab2</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
