<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Edit
        <%= link_to "return", post_path(@post), class: "btn btn-default" %>
      </h1>
    </div>
  </div>
</div>

<%= render 'form' %>



